@font-face {
	font-family: "OpenSans-Regular";
	src: url(/fonts/OpenSans-Regular.woff);
	font-weight: 400;
	font-style: normal;  
}

@font-face {
	font-family: "OpenSans-Bold";
	src: url(/fonts/OpenSans-Bold.woff);
	font-weight: 700;
	font-style: normal;
}

html {
	font-size: 62.5%;
}

body {
	margin: 0; 
	font-family: "OpenSans-Regular", Arial, sans-serif;
	color: #000000;
}

h1, h2, h3 {
	font-family: "OpenSans-Bold", Arial, sans-serif;
	text-transform: uppercase;
}

h2 {
	color: #e7e7e7;
}

svg {
	fill: #ffffff;
}

.container { 
	padding: 0 20px;
}

.list {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	list-style: none;
}

.first-screen, .footer  {
	text-transform: uppercase;
}

.first-screen {
	position: relative;
	padding: 32px 0 100px;
	background-color: #0a0e34;
	background-image: url(/images/football_1920.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;	
}

.first-screen::after, .footer::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(10, 14, 52, 0.9);
}

.first-screen .container, .footer .container {
	position: relative;
	z-index: 2;
}

.logo {
	text-align: center;
}

.logo svg {
	width: 133px;
}

.welcome {
	padding: 40px 0;
	max-width: 280px;
	margin-left: auto;
	margin-right: auto;
}

.welcome h1 {
	font-size: 2.8rem;
	color: #ffffff;
}

.welcome h1 span {
	display: block;
	padding-left: 42px;
	padding-top: 20px;
}

.btn {
	display: flex;
	color: #ffffff;
	text-decoration: none;
	background-color: #5e42b0;
	border-radius: 50px;
	margin-bottom: 12px;    
	padding-left: calc(50% - 55px);
	font-size: 0.8rem;
}

.btn:hover {
	background-color: #4d3592;
	box-shadow: 0px 5px 20px #dcdcdc;
	-webkit-transition: ease-out .5s;
	-o-transition: ease-out .5s;
	transition: ease-out .5s;
}

.btn span {
	display: block;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	
}

.btn svg {
	width: 25px;
	padding-right: 10px
}

.welcome p span {
	font-family: "OpenSans-Bold", Arial, sans-serif;	
}

.col-12 {
	width:100%;
}

.s-section .content {
	position: relative;
	padding-top: 15px;
	padding-bottom: 55px;
}

.s-section span {
	position: absolute;
	top: -55px;
	width: 70px;
	height: 70px;
	font-size: 1.4rem;
	line-height: 70px;
	font-family: "OpenSans-Bold", Arial, sans-serif;
	text-align: center;
	color: #ffffff;
	background-color: #5e42b0;
}

.s-section span::after {
	content: "";
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:-25px;
	width: 17px;
	height: 4px;
	background-color: #8f7bc8;
	border-radius: 2px;
}

.s-section h2 {
	position: relative;	
	font-size: 2.8rem;
}

.s-section p {
	font-size: 1.6rem;
	line-height: 1.4;
}

.sections {
	position: relative;
	font-size: 1.5rem;
}
.sections ol {
	margin-top: 230px;
}

.sections h2 {
	font-size: 5rem;
	padding: 0 20px;
}

.sections h3 {
	position: relative;
	padding-left: 25px;
	font-size: 2.3rem;
	line-height: 1;
	color: #c1c1c1;
} 

.sections p {
	font-size: 15px;
	line-height: 1.4;
}

.sections h3::before {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 1.4rem;
	line-height: 1.3;
	color: #000000;	
}

.sections h3::after {
	content: "";
	position: absolute;
	left: 0px;
	top: 19px;
	width: 17px;
	height: 4px;
	background-color: #5e42b0;
	border-radius: 2px;
}

.sections ol li {
	display: block;
	padding: 60px 20px 50px;
}

.sections ol li:nth-child(1) {
	background-color: #fafafa;
}

.sections ol li:nth-child(2) {
	background-color: #f5f4f9;
}

.sections::before {	
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 80px;	
	background-position: top center;
	background-repeat: no-repeat;
}

.s-section-atlets::before {
	background-image: url(/images/footballer_192.png);
}

.s-section-players::before {
	background-image: url(/images/basketballer_302.png);
}

.s-section-atlets ol li:nth-child(3) {
	background-color: #5e42b0;
}

.s-section-players ol li:nth-child(3) {
	background-color: #090c35;
}

.sections ol li:nth-child(3) p {
	color: #ffffff;
}


.sections li:nth-child(3) h3::after {
	background-color: #ffffff;
}

.sections li:nth-child(1) h3::before {
	content:"01";
}

.sections li:nth-child(2) h3::before {
	content:"02";
}

.sections li:nth-child(3) h3::before {
	content:"03";
}

.s-section-players li:nth-child(3) h3::before {
	color: #8765dd;
}

.footer {
	position: relative;
	padding: 20px 0 30px;
	background-color: #0a0e34;
	background-image: url(/images/game_1920.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;	
}

.download {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 80px 0 50px;
	text-align: center;
}

.surface-logo {
	display: flex;
	justify-content: center;
	align-self: center;
	width: 75px;
	height: 75px;
	border-radius: 20%;
	background-color: #5339a0;
	background: linear-gradient(to bottom, #7555d5, #51369c);
}

.download svg {
	width: 45px;
}

.download h2 {
	font-size: 3.2rem;
	color: #ffffff;
	padding: 0 0 20px;
}

.download span {
	display: block;
	font-size: 1.4rem;
	font-family: "OpenSans-Regular", Arial, sans-serif;;
	color: #9b8ec1;
}

.footer .logo {
	padding-top: 50px;
}

@media (min-width: 641px) {
	.logo svg {
    width: 205px;
}
	.welcome {
		max-width: 600px;
	}
	.welcome h1 {
		font-size: 6.4rem;
	}
	.welcome h1 span {
    display: block;
		padding-left: 95px;
		padding-top: 0;
	}
	.button {
		display: flex;
		justify-content: center;
	}
	.button .btn:nth-child(1) {
		margin-right: 40px;
	}
	.btn {
		width: 220px;
		padding: 5px 20px;
		justify-content: center;
		font-size: 1.4rem;
	}
	.btn svg {
		width: 40px;
		padding-right: 20px;
	}
	.sections h3::before {
		font-size: 1.8rem;
	}
	.sections p {
		font-size: 1.6rem;
	}
	.sections h2 {
		font-size: 8rem;
		margin-bottom: 0;
	}
	.sections h3 {
		font-size: 3.2rem;
	}
	.sections h3::after {
		top: 23px;
    width: 20px;
	}
	.sections ol {
    margin-top: 0px;
	}	
	.sections ol li {
    display: block;
    padding: 10px 20px 20px;
	}
	.sections ol li:nth-child(1) {
    background-color: #ffffff;
	}
	.s-section h2 {
		font-size: 8rem;
	}
	.s-section span {
		font-size: 2.4rem;
	}
	.s-section span::after {
		margin-top: -20px;
		width: 25px;
	}
	.s-section p {
		font-size: 2.4rem;
	}
	.s-section-atlets h2, .s-section-atlets ol li {
    padding-left: 40%;
	}
	.s-section-players h2, .s-section-players ol li {
    padding-right: 40%;
	}
	.s-section-atlets::before {
		top: 30px;
		right: 38%;		
		background-image: url(/images/footballer_497.png);	
		background-size: contain;	
	}
	.s-section-players::before {
		top: 0;
		right: 0;
		width: 436px;
		background-image: url(/images/basketballer_436.png);		
	}

	.surface-logo {
    width: 145px;
		height: 145px;
	}

	.download svg {
    width: 95px;
	}
	.download h2 {
		font-size: 8rem;
	}
	.download span {
		font-size: 3.6rem;
	}
}

@media (min-width: 961px) {
	.welcome {
    max-width: 1135px;
	}
	.welcome h1 {
		font-size: 9rem;
	}
	.welcome h1 span {
		display: flex;
    justify-content: flex-end;	
	}
	.col-6 {
		width: 50%;
	}	
	.s-section article {
		display: flex;
	}
	.sections p {
    font-size: 2rem;
	}
	.sections h3 {
		font-size: 3.2rem;
	}
	.s-section img {
		min-height: 730px;
    height: 100%;
    object-fit: cover;
	}
	.s-section span {
		width: 168px;
		height: 155px;
    top: 160px;
		line-height: 155px;
	}
	.s-section span::after {
		margin-top: -60px;	
	}
	.s-section .content {
		padding: 120px;
	}
	.s-section article:nth-child(even) {
		flex-direction: row-reverse;
	}
	.s-section article:nth-child(even) span {
		right: -85px;
	}
	.s-section article:nth-child(odd) span {
		left: -85px;
	}
	.s-section-atlets h2, .s-section-atlets ol li {
		padding-left: 50%;
		padding-right: 10%;
	}
	.s-section-players h2, .s-section-players ol li {
		padding-right: 50%;
		padding-left: 10%;
	}
	.s-section-atlets::before {
		top: -20px;
		right: 25%;
    background-image: url(/images/footballer_566.png);
	}
	.s-section-players::before {
    width: 991px;
    height: 815px;
    background-image: url(/images/basketballer_991.png);
    background-size: 50vw;
    background-position: right top;
	}
}